@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* user-select: none; */
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.container {
  padding: 5rem 3rem;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 2rem 1rem;
  }
}

/* Animation  */
.App {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  margin: 10px;
}

section {
  height: 500px;
  background-color: lightcoral;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, -10px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0, -10px);
    opacity: 0;
  }
}
